[include fluidd.cfg]

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_28002C000C51313339373836-if00

[mcu eddy]
serial: /dev/serial/by-id/usb-Klipper_rp2040_45474E621B09953A-if00
restart_method: command

[virtual_sdcard]
path: /home/wrli/printer_extra_data/gcodes
on_error_gcode: CANCEL_PRINT


[temperature_sensor mcu]
sensor_type: temperature_mcu

[temperature_sensor board]
sensor_type: temperature_host

[probe_eddy_ng btt_eddy]
sensor_type: btt_eddy
i2c_mcu: eddy
i2c_bus: i2c0f
x_offset: 0
y_offset: 50 

[temperature_sensor btt_eddy_mcu]
sensor_type: temperature_mcu
sensor_mcu: eddy
min_temp: 10
max_temp: 100

[temperature_sensor btt_eddy]
sensor_type: Generic 3950
sensor_pin: eddy:gpio26

[z_tilt]
z_positions:
    112, 283
    -27, 2
    275, 2
points:
    112, 160
    30, 0
    200, 0
speed: 150
retries: 3
retry_tolerance: 0.05

[bed_mesh]
speed: 160
horizontal_move_z: 5
mesh_min: 30, 65
mesh_max: 200, 170
probe_count: 5, 5

[printer]
kinematics: corexy
max_velocity: 160
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100


[gcode_button kill_switch]
pin: ^PC15 
press_gcode: M112

[safe_z_home]
home_xy_position: 115, 123 # Change coordinates to the center of your print bed
speed: 50
z_hop: 2                 # Move up 10mm
z_hop_speed: 5

# Motor1
[stepper_x]
step_pin: PE6
dir_pin: !PE5
enable_pin: !PC14
microsteps: 16
rotation_distance: 40
endstop_pin: ^PF4
position_endstop: 0
position_max: 230
homing_speed: 100
second_homing_speed: 10

# Motor2
[stepper_y]
step_pin: PE2
dir_pin: !PE1
enable_pin: !PE4
microsteps: 16
rotation_distance: 40
endstop_pin: ^PF3
position_endstop: 247
position_max: 247
homing_speed: 100
second_homing_speed: 10

# Motor3
[stepper_z]
step_pin: PB8
dir_pin: PB7
enable_pin: !PE0
microsteps: 16
rotation_distance: 1
position_min: -3
position_max: 275
endstop_pin: probe:z_virtual_endstop
#endstop_pin: ^PC15
#position_endstop: 275

# Motor4
[stepper_z1]
step_pin: PB4
dir_pin: PB3
enable_pin: !PB6
microsteps: 16
rotation_distance: 1

# Motor5
[stepper_z2]
step_pin: PG13
dir_pin: PG12
enable_pin: !PG15
microsteps: 16
rotation_distance: 1


# Motor6
[extruder]
step_pin: PG9
dir_pin: PD7
enable_pin: !PG11 
heater_pin: PA0 # HE0
sensor_pin: PB0 # T0
microsteps: 16
gear_ratio: 50:8 #for sherpa mini 8t motor
rotation_distance: 27.668 #for 5mm Shaft Driven Bondtech gearsets
nozzle_diameter: 0.600
filament_diameter: 1.750
sensor_type: EPCOS 100K B57560G104F
control: pid
pid_Kp: 21.527
pid_Ki: 1.063
pid_Kd: 108.982
min_temp: 0
max_temp: 250
max_extrude_cross_section: 5
max_extrude_only_distance: 500
pressure_advance: 0.04
pressure_advance_smooth_time: 0.040



[heater_bed]
heater_pin: PF5
sensor_pin: PB1 # TB 
sensor_type: EPCOS 100K B57560G104F
control: pid
pid_Kp: 54.027
pid_Ki: 0.770
pid_Kd: 948.182
min_temp: 0
max_temp: 130



[fan]
pin: PF7 # Fan0
kick_start_time: 0.5
off_below: 0.10

[heater_fan hotend_fan]
pin: PF9 # Fan1
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
##	If you are experiencing back flow, you can reduce fan_speed
#fan_speed: 1.0


########################################
# TMC2209 configuration
########################################

# Motor1
[tmc2209 stepper_x]
uart_pin: PC13
#diag_pin: PF4 
run_current: 0.800
stealthchop_threshold: 999999

# Motor2
[tmc2209 stepper_y]
uart_pin: PE3
#diag_pin: PF3
run_current: 0.800
stealthchop_threshold: 999999

# Motor3
[tmc2209 stepper_z]
uart_pin: PB9
#diag_pin: PF2
run_current: 0.650
stealthchop_threshold: 999999

# Motor4
[tmc2209 stepper_z1]
uart_pin: PB5
#diag_pin: PF1
run_current: 0.650
stealthchop_threshold: 999999

# Motor5
[tmc2209 stepper_z2]
uart_pin: PG14
run_current: 0.800
stealthchop_threshold: 999999

# Motor6
[tmc2209 extruder]
uart_pin: PG10
run_current: 0.800
stealthchop_threshold: 999999



[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE7, EXP1_2=PG1,
    EXP1_3=PG0, EXP1_4=PF15,
    EXP1_5=PF14, EXP1_6=PF13,    # Slot in the socket on this side
    EXP1_7=PF12, EXP1_8=PF11,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PE13, EXP2_2=PE12,
    EXP2_3=PE15, EXP2_4=PE11,
    EXP2_5=PE10, EXP2_6=PE14,      # Slot in the socket on this side
    EXP2_7=PE8, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<NC>

# See the sample-lcd.cfg file for definitions of common LCD displays.

#[adxl345]
#cs_pin: PA15
#spi_bus: spi3a

#[bltouch]
#sensor_pin: PD13
#control_pin: PD12

## Proximity switch
#[probe]
#pin: PD8

#[output_pin ps_on_pin]
#pin: PD14

#[neopixel my_neopixel_1]
#pin: PD15

#[hall_filament_width_sensor]
#adc1: PC0
#adc2: PF10

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe_eddy_ng btt_eddy]
#*# calibrated_drive_currents = 16, 15
#*# calibration_version = 5
#*# reg_drive_current = 15
#*# tap_drive_current = 16
#*# calibration_16 = gASVywMAAAAAAAB9lCiMAXaUSwWMBGZ0b2iUjBtudW1weS5wb2x5bm9taWFsLnBvbHlub21pYWyUjApQb2x5bm9taWFslJOUKYGUfZQojARjb2VmlIwWbnVtcHkuX2NvcmUubXVsdGlhcnJheZSMDF9yZWNvbnN0cnVjdJSTlIwFbnVtcHmUjAduZGFycmF5lJOUSwCFlEMBYpSHlFKUKEsBSwqFlGgMjAVkdHlwZZSTlIwCZjiUiYiHlFKUKEsDjAE8lE5OTkr/////Sv////9LAHSUYolDUH0cPUrmEvY/D2jeChzC/j9tOpgj7JfrP7p3c7XP+68/LSueccao1L88q3a8z43tP3p1ZcZVKfE/AKTF05Sb478MHuRYxgrgv4eYiDR1WMk/lHSUYowGZG9tYWlulGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQbJ1MV+mKlD4ZCX3wWtCUPpR0lGKMBndpbmRvd5RoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRijAdfc3ltYm9slIwBeJSMBnN5bWJvbJRoLHVijAlmdG9oX2hpZ2iUaAUpgZR9lChoCGgLaA5LAIWUaBCHlFKUKEsBSwqFlGgYiUNQ6pxYFOk1G0BYejGCY9gJQCnUikGT6gBAWWMPff5XDUCxHmzItlf6v1UhS+kuHiXAPulGMlXgE0B1mAAOBGgxQKCs5zKx0ALAZZngvwfaIMCUdJRiaB1oC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDECjD7I38zZQ+4iYzaMLelD6UdJRiaCRoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRiaCtoLGgtaCx1YowEaHRvZpRoBSmBlH2UKGgIaAtoDksAhZRoEIeUUpQoSwFLCoWUaBiJQ1DYwMFz/r2UPlL1sKejZB0+DszX2uQaDb5FZPTv6Zi/vf+t0bRXY9+9DjjnvalAED734Lpl6LjSvRRa/091gA2+C1R57CYU1T0Y5X1TsUDxPZR0lGJoHWgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAFCE1lvjRj+AswLKVvsTQJR0lGJoJGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGJoK2gsaC1oLHVijAdoX3JhbmdllF2UKEc/RuNb1oRQAEdALf/ki6VpLmWMB2ZfcmFuZ2WUXZQoR0FIiFsuOdgAR0FI7H1unnAAZYwCZGOUSxB1Lg==
#*# calibration_15 = gASVywMAAAAAAAB9lCiMAXaUSwWMBGZ0b2iUjBtudW1weS5wb2x5bm9taWFsLnBvbHlub21pYWyUjApQb2x5bm9taWFslJOUKYGUfZQojARjb2VmlIwWbnVtcHkuX2NvcmUubXVsdGlhcnJheZSMDF9yZWNvbnN0cnVjdJSTlIwFbnVtcHmUjAduZGFycmF5lJOUSwCFlEMBYpSHlFKUKEsBSwqFlGgMjAVkdHlwZZSTlIwCZjiUiYiHlFKUKEsDjAE8lE5OTkr/////Sv////9LAHSUYolDUBu15FXs1Ps/pxVnpBfc/j/5/KyguG3fP3eEtC8o3LO/P/QjECcF6T9EkpR6JOv1PwIv1NT7vOe/uW7n5qlZ+L8mjd4NnqfWP2E3soIHT+Q/lHSUYowGZG9tYWlulGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQZsfX+YyKlD4sGdvSIbuUPpR0lGKMBndpbmRvd5RoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRijAdfc3ltYm9slIwBeJSMBnN5bWJvbJRoLHVijAlmdG9oX2hpZ2iUaAUpgZR9lChoCGgLaA5LAIWUaBCHlFKUKEsBSwqFlGgYiUNQUFOZMc5aG0CTrco86A0KQOVyExZAGv0/WQMiANhBDkCzwmy3xXOLv1yM8ZhLtyPA8u8gbaLAAkA0xEIviU0vQIt86EfvHPC/n/tj+yqkHcCUdJRiaB1oC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEH5LQPMXuZQ+n+JyR0bIlD6UdJRiaCRoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRiaCtoLGgtaCx1YowEaHRvZpRoBSmBlH2UKGgIaAtoDksAhZRoEIeUUpQoSwFLCoWUaBiJQ1BSFYxM06yUPgxezdaW6RU+wXYXWx4ABb4do+a6OTa3vVgh5tgtMvE9LfwgLmqQ+D0vvjfvw6r4vawapmXx8vC9EICEcIsz5D0gw1RMNjjIPZR0lGJoHWgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAFA/M4AL0z+A5IXu1/YTQJR0lGJoJGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGJoK2gsaC1oLHVijAdoX3JhbmdllF2UKEc/0wuAMz9QAEdALf/2mrtwY2WMB2ZfcmFuZ2WUXZQoR0FIouYLA1AAR0FI7O2A9QAAZYwCZGOUSw91Lg==
#*# tap_adjust_z = -0.100
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.009721, 0.060810, 0.087722, 0.064781, 0.002030
#*# 	  -0.016406, -0.003378, 0.019050, -0.003378, -0.029345
#*# 	  -0.033117, -0.025567, 0.000443, -0.018302, -0.042226
#*# 	  -0.029345, -0.025567, -0.007209, -0.027456, -0.047560
#*# 	  -0.016406, -0.020197, 0.005880, -0.011015, -0.033117
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 30.0
#*# max_x = 200.0
#*# min_y = 65.0
#*# max_y = 170.0
